html, body {
  margin: 0;
  padding: 0;
  background-color: #F6F1E9;
}

#root {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between; /* space between hamburger + title */
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  color: #F6F1E9;
  z-index: 1000;
}

/* Hamburger menu (left side) */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  width: 40px;
  padding: 5px;            /* space around icon */
  border-radius: 50%;      /* make it circular */
  transition: background 0.3s ease, color 0.3s ease;
}

.hamburger:hover {
  background-color: #555;  /* circle background */
  color: wheat;
}

/* Title (right side) */
.nav-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 60px; /* push to right */
}

/* Dropdown menu */
.dropdown {
  position: fixed;
  text-align: left;
  top: 65px; /* below navbar */
  left: 0;
  width: 270px;
  background-color: #333;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: #F6F1E9;
  font-size: 16px;
  font-weight: 600;
  height: 20px;
  padding: 20px;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background-color: #F6F1E9;
  color: #333;
  border-radius: 5px;
}
