#root {
  max-width: 1280px;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.support-square {
  width: 1200px;
  height: 550px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 80px;
  left: 180px;
  padding: 20px;
  box-sizing: border-box;
}

.support-square h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 70px;
}

/* FLEX SECTIONS */
.customer-section,
.company-section,
.country-section,
.phone-section {
  display: flex;
  align-items: center;
  gap: 15px; /* spacing between elements */
  margin: 20px 70px;
  text-align: left;
}

/* LABELS */
.customer-label,
.company-label,
.country-label,
.phone-label {
  font-size: 1.2rem;
  color: #000;
  white-space: nowrap;
}

/* INPUTS */
.customer-input,
.company-input,
.phone-input {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

/* DROPDOWN */
.dropdown-select,
.country-select,
.phone-select {
  width: 100px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.country-select {
  width: 160px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

/* TICKET BOX */
.support-ticket {
  width: 270px;
  height: 40px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  right: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-ticket h3 {
  font-size: 1rem;
  color: #e8f0fe;
  margin: 0;
}
